.house-item {
  box-shadow: 0px 1px 7px rgb(84 84 84 / 25%);
  border-radius: 10px;
  padding: 20px 27px;
  transition: all 0.3s ease;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  .image-wrap {
    width: 135px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .house-info {
    display: grid;
    gap: 10px;
    &__street {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    &__city {
      color: $tertiary-20;
    }
    &__short-house-info {
      display: flex;
      align-items: center;
      gap: 10px;
      .info-item {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          max-width: 20px;
          width: 100%;
        }
      }
    }
  }
  .actions {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 27px;
    right: 20px;
    .edit {
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      background-image: url('../../assets/images/ic_edit@3x.png');
    }
    .delete {
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  &:hover {
    box-shadow: 0px 4px 7px rgb(84 84 84 / 25%);
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 1240px) {
  .house-item {
    padding: 10px;
    gap: 15px;
    font-size: 12px;
    .image-wrap {
      width: 125px;
      height: 125px;
    }
    .house-info {
      &__short-house-info {
        .info-item {
          img {
            max-width: 15px;
          }
        }
      }
    }
    .actions {
      top: 10px;
      right: 10px;
      gap: 10px;
      a {
        width: 15px;
        height: 15px;
      }
    }
  }
}